/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

$color1:#ff0000;
$color2:#ffbf00;
$color3:#ffff00;
$color4:#7fff00;
$color5:#007fff;
$color6:#00ffff;
$color7:#0000ff;
$color8:#7f00ff;
$color9:#ff00ff;
$color10:#000;
$color11:#fff;