/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "ie";
@import "print";


$main-text-color:red;/*主标题文字颜色*/

$red:#ff0b13;
$blue:#091fff;
$green:#11c909;


.main-text-color{
  color: $main-text-color;
}

.side-text-color{
  color: $red;
  .left{
    color: $blue;
  }
  .right{
    color: $green;
  }
}


.color-me-bad{
  color:$green;
  color: rgba($green,0.9);
}

.nav{
  a{
    color: $red;
    &:hover{
      color: $green;
    }
    &:visited{
      color: $blue;
    }
    &:link{
      color: $red;
    }
  }
}

/*
=================================================
啊标签定义样式
=================================================
*/
a{
  color: $color7;
  &:hover,&:focus{
    color: $color5;
  }
  &:visited,&:active{
    color: $color7;
  }
}
/*
=================================================
nav样式操作
=================================================
*/

.chapter-summary{
  a{
  display: block;
  padding: .5em;
  color: $color10;
  opacity: .7;
  border: none;
  &:hover{
    opacity: 1;
  }
  &:visited{
    opacity: .9;
  }
  b{
    display: block;
  }
  span{
    display: block;
    font-size: .8em;
  }
  }
}


/*
=================================================
父级选择器
=================================================
*/

.main{
  .content{
    width: 70%;
  }
  .content &{
    width: 100%;
  }

  .content &{
    .two &{
      color: pink;
    }
  }
}

/*
=================================================
级联选择器
=================================================
*/

.selector-one{
  &.selector-two{
    color: green;
  }
}